.form-group {
    display: flex;
    flex-direction: column;
}

.form-container {
    background: #fbf7f7;
    padding: 25px;
    box-shadow: 0 0 2px 2px #b5afaf;
    margin: 10px 0;

    .control-div {
        margin:  0 0 10px 0;
    }
}